# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Arquivos de documentação desnecessários
*.md
!README.md
!CONFIGURACAO-NETLIFY.md
!STATUS-IMPLEMENTACAO.md
!GUIA-PASSO-A-PASSO-NETLIFY.md
!IMPORTANTE-LEIA.md
!RESUMO-EXECUTIVO.md
!SOLUCAO-DEFINITIVA.md
!VERIFICACAO-COMPLETA.md
!CORRECAO-URGENTE.md
!LIMITACAO-API-VERCEL.md
!SETUP-VERCEL-KV.md
!GUIA-URGENTE-KV-SETUP.md

# Scripts temporários
dump-agenda-2025.json
deploy-prep.ps1
setup-deploy.sh

# Excel
*.xlsx

# Arquivos do Windows
Thumbs.db